html, body,div {
  padding: 0;
  background-color:#000000;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right:auto;
}
canvas {
  display: block;
}

img{
  align-content: center;
  margin-left: auto;
  margin-right:auto;
  margin-top: 25px;
  margin-bottom: -10px;
}

.logo{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right:auto;
}

table{
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
}

p {
  color: rgb(240, 192, 186);
}
